@import url("https://fonts.googleapis.com/css?family=Tajawal");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
.one-zero-zero {
  font-weight: 100;
  font-weight: 100;
}

.two-zero-zero {
  font-weight: 200;
  font-weight: 200;
  font-weight: 200;
  font-weight: 200;
}

.three-zero-zero {
  font-weight: 300;
  font-weight: 300;
  font-weight: 300;
}

.four-zero-zero {
  font-weight: 400;
  font-weight: 400;
}

.five-zero-zero {
  font-weight: 500;
}

.six-zero-zero {
  font-weight: 600;
  font-weight: 600;
  font-weight: 600;
  font-weight: 600;
}

.seven-zero-zero {
  font-weight: 700;
}

.eight-zero-zero {
  font-weight: 800;
  font-weight: 800;
  font-weight: 800;
  font-weight: 800;
}

.nine-zero-zero {
  font-weight: 900;
  font-weight: 900;
  font-weight: 900;
  font-weight: 900;
  font-weight: 900;
  font-weight: 900;
  font-weight: 900;
  font-weight: 900;
}

header {
  font-weight: 100;
  margin: 5px;
}

p {
  margin: 5px;
}

.mynav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7a2c37;
  position: fixed;
  top: 0;
  width: 100%;
}

.mynav ul li {
  display: inline-block;
  margin: 5px;
}

a, .mynav ul li a {
  color: #E4C1BE;
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  margin: auto;
}

a:hover, .mynav ul li a:hover {
  background-color: #361210;
}

a.active, .mynav ul li a.active {
  background-color: #361210;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: mistyrose;
  border: none;
  color: black;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 1.5px;
  height: 45px;
  transition: all 0.7s;
  box-shadow: black 2px solid;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.block-wrap {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otherbutton {
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 10px;
  font-weight: 500;
  color: #000;
  background-color: #E4C1BE;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -moz-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  outline: none;
}

.otherbutton:hover {
  background-color: #7a2c37;
  box-shadow: 0px 15px 20px #E4C1BE;
  color: #fff;
  transform: translateY(-7px);
}

img {
  width: 50%;
  height: 50%;
  margin: auto;
  border: 5px inset #e89690;
}

#ImageContainer {
  margin: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 12px;
}

.headings {
  display: inline-flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.mytable {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 80%;
}

.mytable thead th {
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

.mytable tbody td {
  border: solid 1px #DDEEEE;
  color: #fff;
  padding: 10px;
}

.mytable-rounded {
  border: none;
}

.mytable-rounded thead th {
  background-color: #E4C1BE;
  border: none;
  color: #333;
}

.mytable-rounded thead th:first-child {
  border-radius: 10px 0 0 0;
}

.mytable-rounded thead th:last-child {
  border-radius: 0 10px 0 0;
}

.mytable-rounded tbody td {
  border: none;
  border-top: solid 1px mistyrose;
  background-color: #c26975;
}

.mytable-rounded tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.mytable-rounded tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

.form-style {
  width: 500px;
  padding: 30px;
  background: #fff8f5;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style h2 {
  background: #f6b2ac;
  text-transform: uppercase;
  color: #4e2b28;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style textarea {
  resize: none;
  overflow: hidden;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font-size: 16px;
  height: 45px;
}

.footer {
  border: 5px ridge #CC737F;
}

.codes {
  display: flex;
  white-space: pre-wrap;
  margin: 10px;
  padding: 5px;
  background: #E4C1BE;
}

.code-container {
  margin: 5px;
  padding: 10px;
}

.wells {
  background: #E19C97;
  padding: 11px;
  border: 2px solid #CC737F;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.wells-sm {
  background: #E19C97;
  padding: 5px;
  border: 2px solid #CC737F;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}

.wells-lg {
  background: #E19C97;
  text-align: center;
  margin: 5px;
  padding: 16px;
  border: 2px solid #CC737F;
  border-radius: 10px;
}

.wells-container {
  display: block;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
}

.alert {
  background: #E19C97;
  padding: 11px;
  border: 2px solid #CC737F;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

.alert-light {
  background: white;
}

.alert-dark {
  background: black;
  color: #E4C1BE;
}

#myDiv {
  width: 100px;
  height: 100px;
  margin: auto;
  background: #f8e7e6;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-transition-property: width, height;
  -o-transition-property: width, height;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

#myDiv:hover {
  width: 300px;
  height: 300px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100vh;
  transition: background 0.2s ease-in-out;
}

.modal .wrapper {
  padding: 0 8px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .message {
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  background: #FFF;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  padding: 22px;
  box-sizing: border-box;
  box-shadow: 0 11px 44px rgba(0, 0, 0, 0.4);
  max-width: 500px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.modal .message button {
  float: right;
}

.modal.transition {
  background: rgba(0, 0, 0, 0.5);
}

.modal.transition .message {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.modal.display {
  display: block;
}

.arrow {
  z-index: 10;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: auto;
  right: auto;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  color: #E4C1BE;
  opacity: 0.5;
  transition: opacity 1s;
}

.arrow:hover {
  cursor: pointer;
  opacity: 1;
}

.arrow-left {
  left: 2%;
}

.arrow-right {
  right: 2%;
}

.dots {
  position: relative;
  margin: auto;
  bottom: 2%;
  left: auto;
  right: 0;
  width: 10rem;
  height: auto;
  z-index: 5;
}

.dots .dot {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  color: #E4C1BE;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

body {
  background: linear-gradient(#AB4F5A, #E19C97);
  padding: 0px;
  margin: 0px;
  font-family: "Tajawal", sans-serif;
}

#span1 {
  background: #AB4F5A;
  margin: 5px;
  padding: 5px;
}

#span2 {
  background: #E4C1BE;
  margin: 10px;
  padding: 5px;
}
/*# sourceMappingURL=main-styles.css.map */